h1 {
  color: rgb(250, 250, 250);
}
h2 {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-family: monospace;
}
body {
  font-size: 15px;
}
#Entete {
  background-color: black;
  height: 2cm;
  text-align: center;
  padding: 1cm;
}
.flex-container {
  display: flex;
  flex: auto;
  /* flex-flow: row wrap; */
}
.flex-item {
  background-color: rgb(211, 200, 200);
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  border: 2px dashed rgb(24, 22, 22);
  text-align: center;
}
footer {
  height: 157px;
  background-color: #444;
}
footer h3 {
  color: #fff;
  text-align: center;
  padding-top: 12px;
}
.copyright {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  color: #777;
}
